.wrapper {
    width: auto;
    height: auto;
    background: #FDFEFF;
    transition: background .6s ease;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  }
  .wrapper .top-icons i {
    color: #080911;
  }
 
  .wrapper .profile {
    margin-top: 2.2em;
    position: relative;
  }
  .wrapper .profile:after {
    width: 100%;
    height: 1px;
    content: ' ';
    display: block;
    margin-top: 1.3em;
    background: #E9EFF6;
  }
  .wrapper .profile .check {
    position: absolute;
    right: 5em;
    bottom: 12.7em;
  }
  .wrapper .profile .check i {
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  }
  .wrapper .profile .thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .wrapper .profile .name {
    color: #2D354A;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
  }
  .wrapper .profile .title {
    color: #7C8097;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .wrapper .profile .description {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
  }
  
  .wrapper .social-icons {
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
  }
  .wrapper .social-icons .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .wrapper .social-icons .icon a {
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .wrapper .social-icons .icon:nth-of-type(1) a {
    background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  }
  .wrapper .social-icons .icon:nth-of-type(2) a {
    background: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
  }
  .wrapper .social-icons .icon:nth-of-type(3) a {
    background: linear-gradient(to bottom right, #6452E9, #639FF9);
  }
  .wrapper .social-icons .icon h4 {
    color: #080911;
    font-size: 1em;
    margin-top: 1.3em;
    margin-bottom: .2em;
  }
  .wrapper .social-icons .icon p {
    color: #666B7D;
    font-size: 12px;
  }
  
  .concept {
    position: absolute;
    bottom: 25px;
    color: #AAB0C4;
    font-size: .9em;
    font-weight: 400;
  }
  .concept a {
    color: #ac1966;
    text-decoration: none;
  }
  
  .banner-section {
    min-height: 180px;
    background:#90ACD2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.wrapper.profilebanner {
  border-radius: 2px 2px 6px 6px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  box-shadow: unset;
margin-top: -23px;
margin-bottom: 15px;
padding-bottom: 0;
}
.tab-sec {
  padding-left: 25%;
}
.tab-sec .nav.nav-tabs li {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 15px;
  opacity: 1;
  padding-bottom: 15px;
  font-size: 14px;
  width: 20%;
text-align: center;
}
.tab-sec .nav.nav-tabs li a {
  color: #000;
  font-weight: 500;
}
.tab-sec .nav.nav-tabs li a:hover {
  color: #3d6ef6;
}
.tab-sec .nav.nav-tabs li a:active {
  color: #000;
}
.no-shadow{box-shadow: unset !important;}
.col-md-3.user-info {
  display: inline-block;
  padding-right: 0;
  margin-top: -65px;
  padding-left: 0;
}
.col-md-9.user-section {
display: inline-block;
padding-right: 0;
}
.tab-sec .nav.nav-tabs li .dropdown-menu.show li {
  padding: 5px;
}
.dropdown.show ul {
  margin-top: 10px;
}
.nav.nav-tabs i {
  padding-right: 9px;
}
.section-profile {
  display: flex;
}

.col-md-3.user-info .profile img {
  position: absolute;
  margin-top: -140px;
  text-align: center;
  left: 0;
  right: 0;
  border: 2px solid #FDFEFF;
}
.user-info .profile {
  margin-top: 20px;
}
.profile ul {
  padding: 0;
}
.profile ul li .list-icon {
  position: absolute;
  left: 5px;
}
.profile ul li {

    list-style: none;
    padding-left: 30px;
    padding-bottom: 10px;
    position: relative;
}


.btn.btn-icon {

  border-radius: 50%;
  background: #3d6ef6;

}
.btn.btn-sm.btn-icon {

  height: 28px;
  width: 28px;
  padding:0;
  line-height: 25px;
}
.btn.btn-xs.btn-icon {

  height: 18px;
  width: 18px;
  padding:0;
  line-height: 14px;
  background:#3d6ef6;
}
.btn.btn-xs.btn-icon i{font-size: 10px;color:#fff;}
.btn.btn-xs.btn-icon:hover i{
  color:#fff;
}

.btn.btn-xs.pull-right {

  top: -5px;
  position: absolute;
  right: -8px;

}
.section-profile .wrapper {

  padding-top: 4px;

}
.btn.btn-icon:hover {
  color:#000;
  background: #3d6ef6;
}
.btn.btn-icon:hover i{
  color:#000;
}
.btn.btn-icon i {

 color:#fff;

 text-align: center;
}
.pr-0{padding-right: 0 !important;}
.hide{display:none !important}

/*Profile heder */
.wrapper .profile-header .profile {

  width: 100%;
  margin-top: 0;
  background: #000428;

background: -webkit-linear-gradient(to right, #004e92, #000428);

background: linear-gradient(to right, #004e92, #000428);
  
}
.wrapper .profile::after {
  height: auto;
}
.wrapper.profilebanner{background:#fff;margin-top: 0;}
.profile-header .profile .thumbnail {

  margin-left: 0;
  height: 40px;
  width: 40px;
  margin-top: 0px;
  display: inline-block;
  margin-bottom: 0;
}
.profile-header .tab-sec .nav.nav-tabs li {
  width: auto;
  display: inline-block;
  padding: 0;
      padding-top: 0px;
  min-width: 100px;
  text-align: left;
  padding-top: 10px;

  padding-bottom: 10px;
}
.profile-header .tab-sec .nav.nav-tabs li a {
  color: #fff;
  font-weight: 500;
}
.profile-user {

  display: inline-block;
  text-align: left;
  padding-left: 15px;
  position: relative;
top: 13px;
}
.wrapper .profile .profile-user .title,
.wrapper .profile .profile-user .name
{
  text-align: left;
  margin:0;
  padding: 0;
line-height: 20px;
color: #fff;

font-weight: 500;
}


.profile-header .tab-sec {

    padding: 0;
    display:block;
    border-color: #fff;

margin-top: 8px;

border-width: 1px 0 0 0;

border-style: dashed;

}.profile-header .tab-sec .nav.nav-tabs li a {
  color: #fff;
  font-weight: 500;
}
.profile-header .tab-sec .nav.nav-tabs li.active a {

  color: gold;

}
.profile-header .tab-sec .nav.nav-tabs li:hover a {

  color: gold;

}
.col-md-3.user-info.mt-o {
  margin-top: 0;
}
.profile .card-header {
  padding-left: 0;
}
.card-icon i {
  font-size: 24px;
  padding-right: 6px;
  padding-left: 7px;
}
.user-info .profile{margin-top: 0;}
.section-profile .user-info .card-header.h5 .post_img_icon {
  text-align: center;
  width: 20px;
  height: 20px;
}
.user-info .post-menu {
  position: absolute;
  top: 7px;
  right: -17px;
  vertical-align: middle;
  display: inline-flex;
}
.section-profile .user-info .card-header.h5 .post_img_icon i {
  font-size: 24px;
}
.profile ul li {
  font-size: 12px;
}