.login-page{height:100vh;    padding-top: 0px;
    padding-bottom: 0px;background: #F5F6F7;}
    .login-page .scroll-login {height: 100vh !important;min-height: 550px;}
.login-card {
    height: auto;
    background: #fff;
    max-width: 800px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    max-height:400px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);

box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    background:rgba(0,0,0,0.5);  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(50deg, #fff, #fff 40%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.login-card_section_one {
    width: 50%;
    position: relative;
}
.login-card_section_two {
position: relative;
width: 50%;
background: rgba(0,0,0,0.7);
border-radius: 4px;
position: relative;

}
.login-page.dark.login-page-background {
    color: #fff;
}
.login-card_section_two .card-body-section-center {border-left: 3px solid #F5F6F7;padding-left: 15px;padding-right: 15px;}
.card-body-section-center {position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 100%;text-align: center;padding-left: 40px;padding-right: 40px;}
/*.login-page.dark::after {
    background: #000;
    display: block;
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0.6;
}*/
.card-logo {

    width: 100%;
    max-width: 280px;
}
.login-card-header {
    padding: 20px;
    font-size: 26px;
    color: #fff;
    z-index: 123456;
    position: relative;
}
.login-card-body {
    z-index: 1234;
    position: relative;
    padding: 15px;
}
button.gradeinttext{
   border:0;
}
.gradeinttext {
    background: #fff;  /* fallback for old browsers */
background: #fff; /* Chrome 10-25, Safari 5.1-6 */
background: #fff; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradeinttext:hover{
    background:#FE830A;  /* fallback for old browsers */
    background: #FE830A;  /* Chrome 10-25, Safari 5.1-6 */
    background:#FE830A; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.signin,.login-btn{font-size:18px;font-weight: 600;
    letter-spacing: 2px;    margin-bottom: 25px;
    margin-top: 20px;}
.signup-btn{    font-weight: 400;
        letter-spacing: 2px;
        background: unset;
        border: 0;
        color: #aaa;
        font-size: 12px;
        padding: 0;color: #FE830A;background: transparent;}
.forgetpassword-btn {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            background: unset;
            border: 0;
            color: #aaa;
            padding: 0;
}
.signup-btn:hover{color:#F58941;}
.mt-10 {margin-top: 7px;}
.forgetpassword-btn:hover{color:#FE830A;}
:focus{outline: none;}
.input-effect{position: relative;margin: 20px 0;    width: 100%;    color: #F58941;}
.effect-16,
.effect-17,
.effect-18{border: 0; padding: 4px 0; border-bottom: 1px solid #aaa; background-color: transparent;width:100%;color:#fff}
.login-form .input-group {
    padding-left: 50px;
}
label .required {
    color: #F58941;
    padding-left: 5px;
}
label .error {
    color: #E10404;
    padding-left: 10px;
}
.input-group [class*=" icofont-"], .input-group [class^="icofont-"] {
    position: absolute;
    left: 10px;
    font-size: 20px;
    bottom: 26px;
    color:#fff;
}
*:focus , *:active{
    outline: none;
}
* {
    outline: none !important;
}
.effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #F58941; -webkit-transition: 0.4s; transition: 0.4s;}
.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{width: 100%; -webkit-transition: 0.4s; transition: 0.4s;}
.effect-16 ~ label{position: absolute; left: 0; width: 100%; top: 0px; color: #aaa; -webkit-transition: 0.3s; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;text-align: left;}
.effect-16:focus ~ label, .has-content.effect-16 ~ label{top: -16px; font-size: 12px; color: #F58941; -webkit-transition: 0.3s; transition: 0.3s;}
[class*=" icofont-"], [class^="icofont-"] {
    font-family: IcoFont !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
.login-page .footer {
    position: absolute;
    bottom: 5px;
    text-align: right;
    width: 100%;
    color: #ccc;
}
.login-card-header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@-webkit-keyframes  {
0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
                transform: translateX(0) translateZ(0) scaleY(1)
}
50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
                transform: translateX(-25%) translateZ(0) scaleY(0.55)
}
100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
                transform: translateX(-50%) translateZ(0) scaleY(1)
}
}
@keyframes  {
0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
                transform: translateX(0) translateZ(0) scaleY(1)
}
50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
                transform: translateX(-25%) translateZ(0) scaleY(0.55)
}
100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
                transform: translateX(-50%) translateZ(0) scaleY(1)
}
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: none;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')
}
.waveAnimation .waveMiddle {
    -webkit-animation:  10s linear infinite;
            animation:  10s linear infinite;
}
.waveBottom {
    background-size: 100% 100px;
}
.waveAnimation .waveBottom {
    -webkit-animation:  15s linear infinite;
            animation:  15s linear infinite;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')
}


