<template>
  <div class="form_center">
    <div class="space">
    <b-form-input       class="h-40"
 placeholder="Email here..." v-model="$v.username.$model" type="email" @input="verifyEmail">
    
    </b-form-input>
    <span class="text-danger" v-if="!$v.username.required && $v.username.$dirty">Required Field!</span>
    <span class="text-danger" v-if="!$v.username.email ">Invalid Email!</span>

    </div>
        <div class="space">

    <b-form-input
      type="password"
      placeholder="Password here..."
      v-model="password"
      @input="validatePassword"
      class="h-40"
    >
    </b-form-input>
        <span v-if="error" class="text-danger">{{ error }}</span>

    </div>
    
    <b-button class="primary w-100 h-40" @click="verifyUser"><span v-if="!loader">LOGIN</span>
              <span v-if="loader">
                <i class="fa fa-spinner fa-pulse loader-size"></i
              ></span></b-button>
  </div>
</template>
<script>
import Vuelidate from "vuelidate";
import Vue from 'vue'
import {
  required,
  email,
} from "vuelidate/lib/validators";
Vue.use(Vuelidate)
export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      error: "",
      loader:false,
    };
  },
  methods: {
    validatePassword() {
      if (this.password.length < 8) {
        this.error = "Password must contain 8 characters";
      } else if (this.password.length > 15) {
        this.error = "Password is too long";
      } else if (
        !this.password.match(
          /^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%&^*(){}[:;'"?/=+-_.,<>!`~]).*$/
        )
      ) {
        this.error =
          "Password must contain one capital,numeric,special character";
      } else {
        this.error = "";
      }
    },
    verifyUser(){
      this.loader=true;
      this.$v.$touch();
      this.validatePassword()
      if(this.$v.$error || this.error){
        this.loader = false
      }
    },
  },
  validations:{
    username:{
      required,
      email
    }
  }
};
</script>
<style scoped>
.form_center {
  max-width: 450px;
  margin: auto;
  padding-top: 18%;
}
.space{
  margin-bottom: 30px;
}
.w-100{
  width: 100% !important;
}
.h-40{
    height: 40px;

}
.loader-size{
    font-size: 20px;

}
.text-danger {
  color: "red";
  font-size: 10px;
}
</style>